<p id="notice"><%= notice %></p>

<% @notes.each do |note| %>
<div class="text-center">
  <div class="article">
    <h1 class="article-title"><%= link_to note.title, note %></h1>
    <p class="article-content"><%= note.content %></p>
    <br>
  </div>
<% end %>
</div>
<br>

<%#= link_to 'admin', notes_path %>