<p id="notice"><%= notice %></p>


<div class="text-center">
  <div class="article">
    <h2 class="article-title"><%= @note.title %></h2>
    <p class="article-content"><%= @note.content %></p>
  </div>
</div>
<%#= link_to 'Edit', edit_note_path(@note) %>
<%= link_to 'назад', root_path %>
